.header {
    padding: 30px
}

.logo {
    margin:0 14px;
    position: relative;
    bottom: -15px;
    /* z-index: -2; */
    display: block;
}
.search-form {
    position: relative;
    bottom: 30px;
    float: right;
    /* overflow: hidden;
    max-width: 460px;
    display: flex; */
}

.search-input {
    margin: 0 14px;
    position: relative;
    padding: 15px;
    font-family: inter;
}

hr {
    position: relative;
    z-index: 3;
    margin: 25px auto;
    width: 95%;
    border: 0;
    border-top: 1px solid #c9c7c7;
}

.heading {
padding-left: 5%;
font-weight: bold;
font-family: inter;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
    /* padding-top: 15px; */
    justify-content: space-around;
}

.card {
    position: relative;
    margin: .8%;
    max-width: 21rem;
    max-height: 40rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: -1px 1px 5px -1px gray;
} 
.card-image {
    display: block;
    position: relative;
    top: -35px;
    width: 100%;
    max-width: max-content;
    z-index: 1;
}

.title {
    text-align: center;
    position: relative;
    top: -25px;
    z-index: 2;
    background-color: white;
    font-family: inter;
    font-weight:400;
}

.rating-bubble {
  position: relative;
  z-index: 4;
  top: 25px;
  left: 15px;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  border: 1.5px solid black;
  display: inline-block;
}

.rating {
    position:relative;
    top: -10px;
    text-align: center;
    font-family: inter;
}

.modal {
    position: fixed; 
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.modal-box {
    padding: 1%;
    background: #ffffff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    
}
.modal-left {
    position: relative;
    max-width: 45%;
    font-family: inter;
    bottom: 50px;
}
.modal-right {
    position: relative;
    bottom: 500px;
    left: 450px;
    max-width: 40%;
    font-family: inter;

}

.button {
    position: fixed; 
    z-index: 7;
    left: 67%;
    top: 20%;
    width: 1.5%; 
    height: 3%; 
    overflow: auto; 
    background-color: white;

}

.modal-title {
    padding: 5px;
    font-size: 25px;
}

.modal-image {
    max-width: max-content;
    position: relative;
    display: block;
    margin-top: 350px;
    margin-bottom: -25px;
}
.modal-overview {
    position: relative;
}

.modal-release {
font-size: 15px;
font-weight:400;
}


/* .modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.637);
    z-index: 100;

}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid lightgray;
    height: 480px;
    width: 600px;

    overflow: auto;
} */